﻿
@{
    ViewBag.Title = "Login";
}

<h2>Congresso de Artigos</h2>

<div class="FormLogin">
    <form action="/Inscricao/Login" method="post">
        Login: <input type="text" /> <br />
        Senha: <input type="password" name="Senha" /><br />
        <input type="submit" value="Entrar" />
        <button>@Html.ActionLink("Cadastre-se", "Inscricao", "Inscricao")</button> 
    </form>

</div>
