﻿
@{
    ViewBag.Title = "EnviarArtigo";
}

<h2>EnviarArtigo</h2><br />
<hr/>
<form action="/EnvioArtigo/EnvioArtigo" method="post">
    Nome dos Participantes
    <input type="text" name="Nome" /><br />

    Numero de Inscrição dos Autores
    <input type="text" /><br />

    Email dos Autores
    <input type="text" /><br />

    Resumo do Artigo <br />

    <textarea name="message" rows="10" cols="80">
    Digite aqui o resumo do artigo
    </textarea>
    <br />

    <input type="file" /> <br />


    <input type="submit" value="Enviar"/>

</form>

